@model SYS.Models.FlightType

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FlightType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AirplaneID" class="control-label"></label>
                <select asp-for="AirplaneID" class ="form-control" asp-items="ViewBag.AirplaneID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Nr_Locuri" class="control-label"></label>
                <input asp-for="Nr_Locuri" class="form-control" />
                <span asp-validation-for="Nr_Locuri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plecare" class="control-label"></label>
                <input asp-for="Plecare" class="form-control" />
                <span asp-validation-for="Plecare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ora_plecare" class="control-label"></label>
                <input asp-for="Ora_plecare" class="form-control" />
                <span asp-validation-for="Ora_plecare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sosire" class="control-label"></label>
                <input asp-for="Sosire" class="form-control" />
                <span asp-validation-for="Sosire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ora_sosire" class="control-label"></label>
                <input asp-for="Ora_sosire" class="form-control" />
                <span asp-validation-for="Ora_sosire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
